In [2]:
#Crear una lista de listas llamada nueva_lista que contenga 5 registros de 3 registros cada uno (el contenido no importa).  
#a. Imprimir el cuarto valor del tercer registro 
#b. Imprimir el tercer valor del segundo registro 

nueva_lista = [
    ["Argentina", "Brasil", "Chile"], 
    ["Colombia", "Ecuador", "Perú"], 
    ["México", "Guatemala", "Honduras"], 
    ["España", "Francia", "Alemania"], 
    ["Japón", "China", "Corea del Sur"]
]

# Imprime el cuarto valor del tercer registro (pero solo tiene 3 valores)
# try se utiliza para intentar ejecutar un código que podría generar un error.
# intenta acceder al índice 3 generará un IndexError, que es un error que ocurre cuando se intenta acceder a un índice que no existe en una lista.
try:
    print("a. Cuarto valor del tercer registro:", nueva_lista[2][3]) 
except IndexError:
#except captura el error IndexError si ocurre. En lugar de que el programa se detenga con un mensaje de error, se ejecuta el código dentro del bloque 
    print("a. Error: El tercer registro solo tiene 3 valores.")

# Imprime el tercer valor del segundo registro
print("b. Tercer valor del segundo registro:", nueva_lista[1][2])

a. Error: El tercer registro solo tiene 3 valores.
b. Tercer valor del segundo registro: Perú

In [7]:
# Crear una lista de diccionarios con tres diccionarios, donde cada diccionario registre los valores para curso, inscritos y aprobados. 
# Luego imprimir: 
# la cantidad de inscritos en el tercer registro 
# la cantidad de aprobados en el último registro 
# el porcentaje de aprobados en el segundo registro 

cursos = [
    {"curso": "Inteligencia Artificial", "inscritos": 40, "aprobados": 35},
    {"curso": "Proyecto de Graduación", "inscritos": 25, "aprobados": 20},
    {"curso": "Redes", "inscritos": 30, "aprobados": 28}
]

# a. Obtener la cantidad de inscritos en el tercer registro 
inscritos_tercer = cursos[2]["inscritos"]
print("a. La cantidad de inscritos en el tercer registro :", inscritos_tercer)

# b. Obtener la cantidad de aprobados en el último registro y se almacena en una variable
aprobados_ultimo = cursos[-1]["aprobados"]
print("b. La cantidad de aprobados en el último registro :", aprobados_ultimo)

# c. Calcular el porcentaje de aprobados en el segundo registro 
aprobados_segundo = cursos[1]["aprobados"]
inscritos_segundo = cursos[1]["inscritos"]
porcentaje_aprobados = (aprobados_segundo / inscritos_segundo) * 100
print("c. El porcentaje de aprobados en el segundo registro :", porcentaje_aprobados, "%")

a. La cantidad de inscritos en el tercer registro : 30
b. La cantidad de aprobados en el último registro : 28
c. El porcentaje de aprobados en el segundo registro : 80.0 %

In [8]:
# se importa biblioteca que permite el análisis y la manipulación de datos 
import pandas as pd

In [10]:
# se carga archivo .csv a Data Frame 
nombres = pd.read_csv(r'C:\Users\DELL G5\Documents\Umg\2025\9no semestre\2. Inteligencia Artificial\Primer Parcial\Serie II\nombres.csv', sep=",");
nombres

        state sex  year     name  quantity
0          MO   F  1910     Mary       611
1          MO   F  1910    Helen       313
2          MO   F  1910  Dorothy       270
3          MO   F  1910  Mildred       267
4          MO   F  1910     Ruth       237
...       ...  ..   ...      ...       ...
5933556    KS   M  2017  Xzavier         5
5933557    KS   M  2017     Yael         5
5933558    KS   M  2017   Zaiden         5
5933559    KS   M  2017     Zayn         5
5933560    KS   M  2017     Zion         5

[5933561 rows x 5 columns]

In [12]:
# a. ¿Hay mujeres llamados Jules, Nery? 
# se extrae información de Data Frame y se almacena en nuevo DF
mujeres = nombres[(nombres["sex"] == "F") & (nombres["name"].isin(["Jules", "Nery"]))] # isin() es un método de Pandas que se utiliza para filtrar datos en un DataFrame
print("a. ¿Existen mujeres llamadas Jules o Nery?:", not mujeres.empty)

# empty es una propiedad de los DataFrames en Pandas que devuelve True si el DataFrame está vacío pero not lo invierte

a. ¿Existen mujeres llamadas Jules o Nery?: True

In [13]:
# b. ¿Cuál es la cantidad de mujeres llamadas Nery en el estado de CA y NJ nacidas después de 1950?
# se extrae información de Data Frame y se almacena en nuevo DF

cant_mujeres = nombres[(nombres["sex"] == "F") & (nombres["name"] == "Nery") & 
                      (nombres["state"].isin(["CA", "NJ"])) & (nombres["year"] > 1950)]
cantidad = cant_mujeres ["quantity"].sum() # .sum() es un método de Pandas que se utiliza para sumar los valores de una columna en un DataFrame
print("b. Cantidad de mujeres llamadas Nery en CA y NJ después de 1950:", cantidad)

b. Cantidad de mujeres llamadas Nery en CA y NJ después de 1950: 17

In [14]:
#c. ¿Cuál es la cantidad promedio de hombres llamados Mary nacidos después de 1989?
# se extrae información de Data Frame y se almacena en nuevo DF
hombres = nombres[(nombres["sex"] == "M") & (nombres["name"] == "Mary") & (nombres["year"] > 1989)]
promedio_hombres = hombres["quantity"].mean() #.mean() es un método de Pandas que se utiliza para calcular el promedio 
print("c. Cantidad promedio de hombres llamados Mary después de 1989:", promedio_hombres)

c. Cantidad promedio de hombres llamados Mary después de 1989: 9.0

In [15]:
#d. ¿Cuáles son los tres estados donde hay más mujeres llamados Nery y Alex? 
# se extrae información de Data Frame y se almacena en nuevo DF

nery_alex_mujeres = nombres[(nombres["sex"] == "F") & (nombres["name"].isin(["Nery", "Alex"]))]
estados_mas_nery_alex = nery_alex_mujeres.groupby("state")["quantity"].sum().nlargest(3)
print("d. Tres estados con más mujeres llamadas Nery y Alex:")
print(estados_mas_nery_alex)

d. Tres estados con más mujeres llamadas Nery y Alex:
state
CA    1014
TX     634
NY     331
Name: quantity, dtype: int64